@{
    ViewData["Title"] = "Fees and Charges";
}

<div class="text-center">
    <br /><br />
    <h3><a href="http://fac.wrldc.in/wrldc_fac">Fees and Charges Portal</a></h3>
    <br /><br />
    <h3><a href="/Files" target="_blank">Fees and Charges supplimentary bills</a></h3>
</div>
